---
title: Simpris blog
permalink: "/blog"
layout: default
description: Simpris blog
heading: Simpris blog
image: https://res.cloudinary.com/goodlycode/image/upload/v1585171877/simpris/pexels-photo-2-1024x526.jpg
alt: Graham Art
---

<div class="row">
    <div class="col-md-8">
        <p>I like to blog about the things I get up to in the world of the arts. So feel free to read some of the entries in my blog.</p>
        {% for post in site.posts limit: 35 %}
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="{% if post.image %}{{ post.image }}{% else %}{{ post.image1 }}{% endif %}" alt="{{ post.title }}" class="img-thumbnail" style="max-width: 150px" >
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                        <p class="card-text">{% if post.introduction %}{{ post.introduction }}{% else %}{{ post.excerpt }}{% endif %}</p>
                        <p class="card-text"><small class="text-muted">{{ post.date | date: "%a, %b %d, %y" }}</small></p>
                    </div>
                </div>
            </div>
        </div>         
        {% endfor %}
    </div>
    <aside class="col-md-4" style="overflow-y: auto;">
        <a href="/categories/">All posts by category</a>
        <a class="twitter-timeline" href="https://twitter.com/SimprisNews?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" href="https://twitter.com/SimprisNews?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </aside>
</div>
