    <footer class="py-5 footer">
      <div class="container text-center">
          <div class="row">
              <div class="align-middle col-md-12">
                  <span class="p-1">Copyright &copy; Simpris 2020</span>
              </div>
          </div>
          <br><br>
          <div class="row">
          <div class="col-12 col-md">
              <ul class="list-unstyled text-small">
                <li><span class="p-1"><a href="https://www.facebook.com/SimprisOnline/" target="_blank" aria-label="GrahamArt Facebook Page"><i aria-hidden="true" class="fab fa-facebook fa-2x"></i></a></span></li>
                <li><span class="p-1"><a href="https://twitter.com/SimprisNews" target="_blank" aria-label="GrahamArt Twitter"><i aria-hidden="true" class="fab fa-twitter fa-2x"></i></a></span></li>
                <li><span class="p-1"><a href="https://www.linkedin.com/company/17996060/admin/" target="_blank" aria-label="GrahamArt Instagram"><i aria-hidden="true" class="fab fa-linkedin fa-2x"></i></a></span></li>
                <li><span class="p-1"><a href="https://www.pinterest.co.uk/simpris/" target="_blank" aria-label="GrahamArt Pinterest"><i aria-hidden="true" class="fab fa-pinterest fa-2x"></i></a></span></li>
              </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{{ site.url }}/kanban">Kanban</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Schedule</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Collaboration</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Best practice</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Invoicing</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Task management</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{{ site.url }}">Project Management</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Programme Management</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Time Management</a></li>
              <li><a class="text-muted" href="{{ site.url }}">Resource Management</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{{ site.url }}/about">Team</a></li>
              <li><a class="text-muted" href="{{ site.url }}/our-location">Locations</a></li>
              <li><a class="text-muted" href="{{ site.url }}/privacy">Privacy</a></li>
              <li><a class="text-muted" href="{{ site.url }}/terms">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </footer>
